body {
  margin:0;
  width: 100vw;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(161, 137, 137);
}

h1{
  text-align: center;
  color: rgb(179, 98, 63);
  border: 10px solid rgb(24, 168, 158);
  padding: 10px;
  margin: 5px;
  font-style: italic
}

img {
  width: 80%;
}

ul {
  display: grid; 
  grid-template-columns: repeat(4,1fr);
  justify-content: space-between;
  border: 1px solid black;
  column-gap:  5px;
}

.accolades {
  border: 1px solid white;
}

.player {
  background-color: rgb(114, 130, 132);
  border: 1px solid black;
  justify-content: space-between;
}

.flex-row {
  border: 1px solid black;
  background-color: rgb(67, 67, 35);
  color: azure;
  width:500px; margin:0 auto;
  overflow:auto; 
float:left; width:150px; min-height:3200px; 
font-style: italic;
}

#timer{
  background: rgb(94, 5, 5), 
  
}

.timer_btn {
  border-radius: 50%;
  color: red;
}
.timer_btn-control {
  border-radius: 50%;
  color:green
}


.coach{
  background-color: coral;
}

.jazz{
  width: 75%
}